<div class="container mt-5">
  <h2 class="mb-4">Create a Blog Contribution.</h2>
  <form class="new-tech-post-form">
    <div class="mb-3">
      <label for="title-new-tech-post" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-tech-post"
        placeholder="Enter a title of your choice"
      />
    </div>
    <div class="mb-3">
      <label for="content-new-tech-post" class="form-label">Content:</label>
      <textarea
        class="form-control"
        id="content-new-tech-post"
        rows="5"
        placeholder="Enter content here"
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
  </form>
</div>