<div class="container mt-5">
  <h2 class="mb-4">Your New Post:</h2>
  <form id="new-post-form" class="new-post-form">
    <div class="mb-3">
      <label for="title-new-post" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-post"
        placeholder="Title required..."
      />
    </div>
    <div class="mb-3">
      <label for="content-new-post" class="form-label">Content:</label>
      <textarea
        class="form-control"
        id="content-new-post"
        rows="5"
        placeholder="Content required..."
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">Create Post
        <i class="bi bi-pencil-square"></i></button>
      <a href="/dashboard" class="btn btn-warning">Cancel
        <i class="bi bi-exclamation-diamond"></i></a>
    </div>
  </form>
</div>