<main class="container mt-4">
  <h1 class="mb-4">Sign Up</h1>
  <form id="signup-form" class="signup-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must at least (8) Characters"
      />
    </div>
    <div class="mb-6">
            <p href="/signup">Already signed up? <a href="/login">Login here</a></p>
        </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</main>