/* dev css once operational */
.card:hover {
  border-bottom: 1em solid #074042;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  
}

.dashboard-background{
  background-color: rgb(102, 103, 102);
}

.post-background{
  background-color: rgb(255, 255, 255);
}

.card-header{
  background-color: rgb(29, 235, 29);
}

.nav-link{
  color: rgb(29, 235, 29);
}

/* mediaQueries: */

@media screen and (min-width: 768px) {
    /* Base screens */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablets in landscape mode */
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  /* Tablets in portrait mode */
}
@media screen and (max-width: 767px) {
  /* Smartphones */
}
@media screen and (min-width: 1200px) {
  /* Large desktop screens */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
  /* High-resolution displays */
}
@media (color-gamut: srgb) {
  /* Screens with an sRGB color gamut */
}