/* dev css once operational */
.post-container {
  transition: background-color 0.3s;
}

.post-container:hover {
  border-right: 1em solid #656565;
  background-color: rgba(126, 126, 126, 0.2);
  border-radius: 0.5em;
}

/* mediaQueries: */

@media screen and (min-width: 768px) {
    /* Base screens */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablets in landscape mode */
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  /* Tablets in portrait mode */
}
@media screen and (max-width: 767px) {
  /* Smartphones */
}
@media screen and (min-width: 1200px) {
  /* Large desktop screens */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
  /* High-resolution displays */
}
@media (color-gamut: srgb) {
  /* Screens with an sRGB color gamut */
}